/*
* @Author: yanwei
* @Date:   2017-08-05 15:27:49
* @Last Modified by:   yanwei
* @Last Modified time: 2017-08-07 13:35:23
*/
.nav-simple{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	background: #fff;
}
.nav-simple .logo{
	font-size: 26px;
	font-weight: bold;
	color: #c60023;
	text-decoration: none;
}